.container {
  position: relative;
 }

 .headtext {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

.subtext {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
}
